.light{
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.active{
    box-shadow: 10px 0px 0px 0px rgba(255,255,255,1);;
}